<h1>Busqueda <small>{{textoBusqueda}}</small></h1>

<hr />

<div class="row" *ngIf="profiles.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No hay profiles que coincidan con el término: {{textoBusqueda}}
        </div>
    </div>
</div>

<div class="card-columns" >
  <div class="card" *ngFor="let profile of profiles; let id = index">
    <img
      src="{{ profile.image }}"
      class="card-img-top"
      alt="{{ profile.nombre }}"
    />
    <div class="card-body">
      <h5 class="card-title">{{ profile.nombre }}</h5>
      <p class="card-text">
        {{ profile.info }}
      </p>
      <p class="card-text">
        Fecha de inicio:
        <small class="text-muted"> {{ profile.inicio }} </small>
      </p>
      <button
        (click)="detalleProfile(id)"
        type="button"
        class="btn btn-outline-primary btn-block"
      >
        Detalle
      </button>
      <!-- <a [routerLink]="['profile',id]">Detalle</a> -->
    </div>
  </div>
</div>
